.form__container{
    display: grid;
    grid-template-columns: 1fr;
}


.form__group{
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: grid;
    grid-template-columns: 4em 1fr;
    gap: 0.5em;
    padding: 0.5em;
}

.form__group_name {
    color: #0c63e4;
}

.form__input:valid {
    display: block;
    align-self: center;
    height: 1.5em;
    border-radius: 5px;
    border: 1px solid #0c63e4;
}

.form__input:invalid {
    display: block;
    align-self: center;
    height: 1.5em;
    border-radius: 5px;
    border: 2px solid brown;
}

.form__conclusion {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    background-color: #e3f2fd;
    display: none;
    grid-template-columns: 5fr 1fr;
    column-gap: 1em;
    align-content: center;

    }

.form__disclaimer {
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    background-color: #e3f2fd;
    display: none;
    grid-template-columns: 1fr;
    column-gap: 1em;
    align-content: center;
    color: brown;
    }

@media (max-width: 440px) {
    .form__conclusion {
        font-size: 14px;
    }
    .form__input {
        font-size: 14px;
    }
    .form__disclaimer {
        font-size: 14px;
    }

    .form__group{
        font-size: 14px;
    }

    .padding_small {
        padding-left:  0.5em;
        padding-right:  0.5em;
    }

}


.form__button {
    align-self: center;
    justify-self: center;
}

.form__container {
    display: grid;
}

input[type=checkbox] {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;
    -o-appearance:none;
    outline: none;
    content: none;
}

input[type=checkbox]:before {
    content: "X";
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: white !important;
    display: block;
    align-content: center;
    width: 1.5em;
    height: 1.5em;
    margin-top: -1px;
    margin-left: -1px ;
    border: 1px solid #0c63e4;
    background-color: white;
    margin-right: 7px;
}

input[type=checkbox]:checked:before {

    color: black !important;
}