@import "/forms.css";


.container__color {
    background-color: rgba(	194, 202, 215, 100%);
    width: 100%;


}

.container__main {
    margin-left: 2em;
    margin-right: 2em;
}

.fixed {
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1030;
}

.white {
    background-color: white;
    border-radius: 0px 5px 5px 5px;

}

.height_100 {
    margin-top: 50px;
    height: max(100vh, 100%);
}

.spacer {
    height: 400px;
}

.padding__1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.profitLegend {
    list-style-type: none;
}

.KNX__logo {
    width: 100px;
    height: 80px;
    display: block;
    margin: auto;
}

.brandName {
    display: block;
    width: 150px;
    height: 50px;
    justify-self: start;
    margin-left: 1em;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.badge__color__custom {
    background-color: rgb(92, 108, 140);
}

.btn-primary {
    background-color: rgb(36, 59, 107) !important;
    border: 2px solid rgb(136, 148, 172) !important;
    box-shadow: none;
}

.btn-primary:hover {
    box-shadow: 2px 2px 2px rgb(0,0,0, 0.5);
}

.navbar__flex {
    width: 100%;
    z-index: 2000;
    margin: 0 auto;
    background-color: rgba(	194, 202, 215, 100%);
    display: flex;
    flex-direction: row;
}

.fixed-top {
    width: 100%;
}

@media (min-width: 992px) {
    .brandName {
        align-self: start;
        margin-left: 1em;
        box-shadow: white;
    }


}


@media (max-width: 991px){

    .nav-link.active{
        display: flex;
    }

    .nav-link.menuItem {
        display: block;
    }


    .nav-link {
        display: none;
    }


}

h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: 	rgb(36, 59, 107);
}

.navbarMenu{
    border: 3px solid white;
    background-color: rgba(	194, 202, 215, 100%);
    width: fit-content;
    border-radius: 10px;
    margin: 1em 1em 1em 1em;
    justify-self: end;
    padding: 1em;
    z-index: 1;

}

.menuItem:hover {
    text-shadow: 1px 1px 3px white;
}


.logoContainer{
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: space-evenly;
}

.toggler__right {
    margin-right: 15px;
}

.border_color_logo {
    stroke: white;
    border-color: white;
}

.footer_icon {
    border-color: white;
}


.nav-link.active {
    color: rgb(92, 108, 140);
    border-left: 2px solid white !important;
    border-right: 2px solid white !important;
    border-top: 2px solid white !important;
}

.nav-link:hover {
    color: rgb(36, 59, 107);

    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

.nav-link.menuItem.noborder {
    border: none !important;
}

.nav-link.menuItem.noborder:hover {
    border: none !important;
}


.nav-link.menuItem.active {
    border: none;
}

.nav-link {
    color: 	rgb(36, 59, 107);
}

.custom_color {
    background-color: rgba(	194, 202, 215, 100%) !important;
    color: rgb(36, 59, 107) !important;
    font-weight: bold;
}

.accordion-button.custom_color.collapsed {
    background-color: white !important;
    color: black !important;
    font-weight:  normal;
}

.about__container__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.1em;

}

.about__knx {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.1em;
    align-content: center;
    align-items: center;
}

.about__trademarks {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 1em;
    align-content: center;
    align-items: center;
}

.trademark__logo {
    width: 80px;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 440px) {
    .about__knx {
        font-size: 14px;
    }
}

.accordion-button:focus {
    border: 0px !important;
}

.navbar-toggler {
    border-color: #5C6C8CFF !important;
    background-color: #5C6C8CFF !important;
}

.navbar-toggler:focus {
    color: white !important;
}

.accordion-button:focus {
    border-color: #C2CAD7FF !important;
    box-shadow: 0 0 0 0.1rem #C2CAD7FF !important;
}

.tab-pane {
    padding-right: 1em;
    padding-left: 1em;
}

@media (max-width: 350px){
    .tab-pane {
        padding-right: 0.1em;
        padding-left: 0.1em;
    }
}


.ul__center {
    margin-left: 5em;
    alignment: center;
}